
$body-bg:#fff;
$body-color:#1e1b1a;

//反選
$selection:#ddd;

// Links
//
// Style anchor elements.
$link-color:            #8a584e ;
$link-decoration:       none !default;
$link-hover-color:      #634540;
$link-hover-decoration: underline !default;


//font
$font-size-base:1rem!default;
$line-height-base: 1.6 !default;
$font-family1:'Open Sans', '微軟正黑體',sans-serif;//字體
$font-family2: 'Open Sans', '微軟正黑體',sans-serif;//標題字體

$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;


