
.nav-menu-tab {
  margin-left: 0 !important;
}
.category_menu_overlay {
    align-items: unset !important;
    overflow:hidden;
    padding-top: 110px;
    .v-overlay__content {
      width:100%;
    }
}

  .departments-dropdown {
      width: 1440px;
  }
  .category-list {
      position: relative;
      width: 200px;
      display: inline-block;
      background-color: #f0f0f0;
      min-height: 440px;
  }

  .item-category-list {
      display: block;
      margin-top: 20px;
  }

  .category-item {
      display: block;
      width: 100%;
      transition: all .3s ease;
      background: linear-gradient(to right,transparent 50%,#fff 50%);
      background-position: left bottom;
      background-size: 200% 100%;
      height:35px;
      font-size: 16px;
      .category-label {
          font-family: novecentowidedemi,sans-serif;
          font-size: .75rem;
          text-transform: uppercase;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          display: block;
          padding: 10px;
          color: #92bcba;
          text-decoration: none;
          height: 15px;
          line-height: 17px;
      }
  }
  .dropdown-column {
      float: left;
      width: 25%;
      box-sizing: border-box;
  }

  .sub-category-wrap .header-image-box {
      float: right;
      display: block;
      min-height: 300px;
      padding-left: 5px;
      height: 100%;
      width: 200px;
  }

  .category-item.active, .category-item:hover {
      background-position: right bottom;
  }
  
  .category-item.active .sub-category-wrap {
      display: block;
  }

  .sub-category-wrap {
      display: none;
      background-color: #fff;
      position: absolute;
      left: 100%;
      top: 0;
      width: 1200px;
      box-sizing: border-box;
      padding: 12px 0 0 12px;
    .dropdown-column {
      margin-left: 9px;
      margin-right: 9px;
      padding-left: 5px;
      padding-right: 5px;
    }
    .sub-category-content {
       display: flex;
    }
  }

  .sub-category-wrap.nav-col-3 .dropdown-column {
      width: 33%;
  }

  .sub-category-list {
      margin-bottom: 25px;
  }

  .sub-category-item {
      font-size: .8125rem;
      margin-bottom: 20px;
      position: relative;
      line-height: 1.28;
      list-style: none;
      .sub-category-label {
        font-weight: 700;
        text-decoration: none;
        position: relative;
        display: inline-block;
        width: 100%;
      }
  }

  .item-category-list li {
      display: block;
      margin-bottom: 10px;
       a {
        text-decoration: none;
        width: auto;
        position: relative;
    }
  }