.content-section {
    color: #fff;
    display: flex;
    position: relative;
    align-items: center;
}

.content-section-container {
    display: flex;
    margin-top: 24px;
    align-items: center;
    margin-bottom: 112px;
    flex-direction: column;
    width: 100%;
    min-height: 250px;
}

.content-section-image {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.content-section-button {
    top: 220px;
    box-shadow: none;
    font-weight: 700;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 21px 48px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff3366;

    min-width: 64px;
    box-sizing: border-box;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    line-height: 1.75;
    border-radius: 4px;
    text-transform: uppercase;

    border: 0;
    margin: 0;
    cursor: pointer;
    display: inline-flex;
    outline: none;
    padding: 0;
    position: relative;
    align-items: center;
    user-select: none;
    vertical-align: middle;
    justify-content: center;
    text-decoration: none;
}

.content-section-button-text {
    width: 100%;
    display: inherit;
    align-items: inherit;
    justify-content: inherit;
    width: 140px;
    height: 55px;
}

.content-section-title {
    font-size: 25px;
    color: inherit;
    text-align: center;
    color: rgba(255, 255, 255, 0.87);
    font-size: 48px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    margin: 0;
    display: block;
}

.content-section-reserve {
  margin-bottom: 32px;
}


@media (min-width: 600px) {
  .content-section {
    height: 70vh;
    min-height: 400px;
    max-height: 600px;
  }
  .content-section-title {
    font-size: 40px;
  }
  .content-section-reserve {
    margin-bottom: 48px;
  }
}