/* Noselect */
/* Animations and keyframes
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
/* Transitions
  Usage:
  a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
*/
/* Cross browser opacity
  Usage:
  .faded-text {
    @include opacity(0.8);
  }
*/
/* Clearfix
  Usage:
  .container-with-floated-children {
    @extend %clearfix;
  }
*/
/* Visually hide an element
  Usage:
  .visually-hidden {
    @extend %visuallyhidden;
  }
*/
.pagecontent {
  margin-top: 20px; }

@media (min-width: 768px) {
.mobaccordion--acount {
  top: 50px;
  z-index: 0; }
  .mobaccordion--acount .mobaccordion__head {
    padding: 17px 20px 17px 35px;
    font-weight: 400;
    border: 1px solid #666666;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
       supported by Chrome and Opera */
    font-weight: bold; }
    @media (max-width: 768px) {
      .mobaccordion--acount .mobaccordion__head {
        padding: 13px 20px 13px 20px; } }
  .mobaccordion--acount .mobaccordion__body {
    border-color: #666666; }
  .mobaccordion--acount .mobaccordion__item {
    border-color: #666666; }
  .mobaccordion--acount .mobaccordion__item a {
    font-weight: 400;
    padding: 15px 20px 15px 25px;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
       supported by Chrome and Opera */ }
    .mobaccordion--acount .mobaccordion__item a:hover {
      background: #eeeeee; }
  .mobaccordion--acount .mobaccordion__item.active a {
    font-weight: 600;
    position: relative;
    color: #000000; }
    .mobaccordion--acount .mobaccordion__item.active a:after {
      content: '';
      width: 3px;
      background: #ff5501;
      display: block;
      position: absolute;
      left: 8px;
      top: 10px;
      bottom: 10px; }
    .mobaccordion--acount .mobaccordion__item.active a:hover {
      background: #ffffff;
      cursor: default; }}

/* block-dashboard */
.block-dashboard__title {
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 25px;
  padding-bottom: 0px; }
  .block-dashboard__title h1 {
    font-size: 28px;
    font-weight: bold !important;
    line-height: 34px; }
  .block-dashboard__title h2 {
    font-size: 20px;
    font-weight: bold !important;
    line-height: 24px; }

/* box-info */
.box-info {
  font-size: 14px;
  margin-bottom: 10px; }
  .box-info .table td, .box-info .table th {
    padding: .5rem; }

.box-info__title {
  background: #20a9b2;
  color: #fff;
  letter-spacing: 0.3px;
  line-height: 18px;
  overflow: hidden;
  padding: 7px 20px;
  position: relative;
  width: 100%;
  font-weight: bold; }

.box-info__title--size2 {
  font-size: 20px;
  line-height: 1; }

.box-info__content {
  padding: 15px 0; }

.box-info__seperater {
  color: #a6a6a6;
  font-size: 12px;
  vertical-align: top;
  display: inline-block;
  margin: 0 8px;
  margin-top: 3px; }

.box-info__anchor {
  color: #1c9ca4;
  font-weight: bold;
  font-size: 14px; }
  .box-info__anchor:hover, .box-info__anchor:focus {
    color: #1c9ca4;
    text-decoration: none; }

.box-info__anchor--white {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px; }
  .box-info__anchor--white:hover, .box-info__anchor--white:focus {
    color: #ffffff;
    text-decoration: none; }

.minw-100 {
  min-width: 100px; }

.alert .fa-check-circle {
  font-weight: 900;
  font-size: 21px;
  line-height: 0;
  margin-top: 10px;
  vertical-align: top;
  margin-left: -10px;
  margin-right: 5px; }

/* Edit Account Information */
.pl-20 {
  padding-left: 20px; }

.form-group label {
  font-weight: 600; }

/* My Cartridges */
.mycartriges {
  margin-bottom: 50px; }

.mycartriges__single {
  transition: 0.23s;
  margin: 0 auto 20px;
  max-width: 240px; }
  .mycartriges__single:hover {
    height: 300px;
    position: relative;
    z-index: 111; }

.mycartriges__single:hover .mycartriges__single-inner {
  background: #fff;
  box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.3);
  border: 1px solid #bbb;
  padding: 10px; }

.mycartriges__single-img {
  margin-bottom: 10px; }

.mycartriges__single-price {
  font-weight: bold;
  margin-top: 5px; }

.mycartriges__single-edit {
  position: relative;
  z-index: 1;
  margin-left: 0;
  margin-right: 0;
  display: none; }

.mycartriges__single:hover .mycartriges__single-inner {
  position: absolute; }
.mycartriges__single:hover .mycartriges__single-edit {
  display: block; }

.mycartriges__single-comment {
  width: 100%;
  padding: 5px 10px;
  margin-top: 5px; }

.mycartriges__single-qty {
  padding: 5px 10px;
  display: inline-block;
  width: 70px; }

.mycartriges__single-atc {
  vertical-align: top;
  border-radius: 2px;
  padding: 5px 10px; }

.mycartriges__single-a {
  color: #1c9ca4;
  font-weight: bold; }
  .mycartriges__single-a:hover, .mycartriges__single-a:focus {
    color: #1c9ca4; }

.mycartriges__single-remove {
  color: #cecece;
  font-weight: bold;
  margin-left: 25px;
  line-height: 0; }
  .mycartriges__single-remove:hover {
    text-decoration: none;
    color: #999999; }

.items {
  margin: 0;
  padding: 0;
  list-style: none none; }

.order-links .item {
  line-height: 40px;
  margin: 0 0 -1px; }

.order-details-items {
  border: 1px solid #ccc;
  margin-bottom: 40px;
  padding: 10px; }

.order-links .item strong {
  background: #fff;
  border: 1px solid #ccc;
  display: block;
  font-weight: 400;
  padding: 0 20px; }

.order-links .item a {
  background: #f6f6f6;
  color: #7d7d7d;
  border: 1px solid #ccc;
  display: block;
  font-weight: 400;
  padding: 0 20px; }

.order-links .item a:hover {
  background: #fff;
  text-decoration: none; }

.order-details-items .order-title {
  border-bottom: 1px solid #ccc;
  padding: 0 0 10px; }

.account .table-wrapper {
  margin-bottom: 20px;
  border-bottom: 1px solid #e4e4e4; }

.order-details-items .table-wrapper {
  margin: 0; }

.order-details-items .table-wrapper:not(:last-child) {
  margin-bottom: 30px; }

.order-details-items .order-title > strong {
  font-size: 24px;
  font-weight: 300; }

a.action {
  color: #1c9ca4;
  font-weight: bold; }

.order-details-items .product-item-name {
  font-size: 18px;
  font-weight: 400; }

.order-details-items .table-order-items tbody td {
  padding-bottom: 20px;
  padding-top: 20px; }

.block-title {
  border-bottom: 1px solid #c6c6c6;
  margin-bottom: 25px;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 400; }

.block-title strong {
  font-weight: 300; }

.block-order-details-view .box-title {
  font-weight: 600;
  font-size: 16px;
  padding-bottom: 10px; }

.table tfoot {
  background: #f5f5f5; }

.table tfoot th {
  border-top: 0; }

.table tfoot th.mark {
  background: none; }

.table tfoot .mark {
  font-weight: 400;
  text-align: right; }

.table td, .table th {
  border-top: 0; }

@media (min-width: 768px), print {
  .order-details-items {
    margin-top: -1px;
    padding: 25px; }

  .order-links .item {
    float: left;
    margin: 0 -1px 0 0; }

  .order-links .item a {
    padding: 1px 35px; }

  .order-links .item strong {
    border-bottom: 0;
    margin-bottom: -1px;
    padding: 1px 35px 2px 35px; }

  .actions-toolbar {
    text-align: left; } }
@media (min-width: 640px) {
  .order-details-items .order-title .action {
    margin: 12px 0 0 30px; } }

/*# sourceMappingURL=account.css.map */
