/* Checkout and Cart Pages Styles */
/* Noselect */
/* Animations and keyframes
@include keyframes(slide-down) {
  0% { opacity: 1; }
  90% { opacity: 0; }
}

.element {
  width: 100px;
  height: 100px;
  background: black;
  @include animation('slide-down 5s 3');
}
*/
/* Transitions
  Usage:
  a {
  color: gray;
  @include transition(color .3s ease);
  &:hover {
    color: black;
  }
}
*/
/* Cross browser opacity
  Usage:
  .faded-text {
    @include opacity(0.8);
  }
*/
/* Clearfix
  Usage:
  .container-with-floated-children {
    @extend %clearfix;
  }
*/
/* Visually hide an element
  Usage:
  .visually-hidden {
    @extend %visuallyhidden;
  }
*/
/* Cart Page */
.cart_content {
  display: flex;
  width: 100%; }

.cart_content__left {
  width: 75%;
  padding-right: 30px; }

.cart_content__right {
  width: 25%; }

@media (max-width: 768px) {
  .cart_content {
    display: block; }

  .cart_content__left {
    width: 100%;
    padding-right: 0; }

  .cart_content__right {
    width: 100%; } }
/* cart items */
.cart__item-price {
  font-weight: 700;
  color: #666;
  text-align: right; }

.cart__item-total {
  font-weight: 700;
  color: #666; }

.btn-title a {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 0 none;
  color: #1c9ca4;
  font-size: 13px;
  font-weight: bold;
  line-height: 18px;
  margin: 0;
  padding: 0 0 0 0;
  position: relative; }
  .btn-title a:hover {
    text-decoration: none; }

.btn-continue::before {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: -1px;
  background: rgba(0, 0, 0, 0) url(../img/sprite-cart.png) no-repeat scroll 0 0;
  content: "";
  height: 12px;
  top: 4px;
  width: 12px; }

.btn-checkout::after {
  display: inline-block;
  margin-left: 10px;
  margin-bottom: -1px;
  background: rgba(0, 0, 0, 0) url(../img/sprite-cart.png) no-repeat scroll 0 0;
  background-position: -12px 0;
  content: "";
  height: 12px;
  top: 4px;
  width: 12px; }

.btn-title .or {
  margin: 0 10px; }

/* cart summary */
.cart-summary {
  top: 50px;
  background: #f5f5f5;
  margin-bottom: 25px;
  padding: 1px 20px 25px;
  z-index: 0; }

.cart-summary table {
  width: 100%; }

.cart-summary th {
  font-weight: 400; }

.cart-summary__h2 {
  border-bottom: 1px solid #ccc;
  font-size: 24px;
  font-weight: 300;
  padding-bottom: 5px;
  margin: 12px 0; }

.cart-summary__subtotals {
  border-top: 1px solid #ccc;
  padding-top: 10px; }

.cart-summary__list{
  padding-top: 10px;
  font-size: 14px;
  line-height: 25px;
}

.cart-summary__totals {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  font-size: 1rem;
  line-height: 25px;}

.cart-summary__totals th {
  font-weight: 600 !important;
  background: none; }

.cart-summary__checkout {
  background-image: none;
  background: #28A745;
  border: 1px solid #28A745;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 18px;
  box-sizing: border-box;
  vertical-align: middle;
  width: 100%;
  border-radius: 3px;
  margin-bottom: 10px; }
  .cart-summary__checkout:hover {
    background: #23903c;
    border: 1px solid #23903c;
    color: #fff;
    text-decoration: none; }

.table thead tr th {
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
  padding-top: 24px; }

.cart__item {
  border-bottom: 1px solid #ccc !important;
  position: relative; }

.cart__item-img-wrapper {
  display: table-cell;
  max-width: 100%;
  padding-right: 20px;
  position: static;
  vertical-align: top;
  width: 150px; }

.cart__item-name {
  display: table-cell;
  vertical-align: top;
  white-space: normal;
  width: calc(100% - 150px); }

@media (max-width: 560px) {
  .cart__item-name,
  .cart__item-img-wrapper {
    display: block;
    width: 100%;
    line-height: 1; }

  .cart__item-img-wrapper {
    margin-bottom: 10px; } }
.cart__item-name a {
  color: #333;
  line-height: 1; }

.cart__item {
  font-size: 18px; }

.cart__item-qty {
  background: #fff;
  background-clip: padding-box;
  border: 1px solid #c2c2c2;
  border-radius: 1px;
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: 14px;
  height: 32px;
  line-height: 1.42857143;
  padding: 0 9px;
  vertical-align: baseline;
  width: 100%;
  box-sizing: border-box;
  height: 36px;
  margin-top: -7px;
  text-align: center;
  width: 45px; }

.cart__item-remove {
  color: #8f8f8f;
  font-size: 16px; }
  .cart__item-remove:hover {
    color: #333; }

.cart__item-move {
  font-size: 20px;
  color: grey;}

.cart__discount {
  margin-bottom: 40px;
  margin-top: 0;
  padding: 0 5px;
}

.cart__discount .title {
  cursor: pointer;
  color: black !important;
  font-size: 14px !important;
  padding-left: 2.5px; }

.cart__discount .title strong {
  font-weight: 400;
  cursor: pointer; }
.cart__comment{
  margin-top: 10px;
  padding: 0 7.5px;
}
/* checkout, one-step-checkout, osc */
.osc__title {
  position: relative;
}

.osc__title h4 {
  position: absolute;
  color: gray;
  font-weight: 700;
  bottom: 0;
  width: 100%;
}

.osc__title-line {
  width: 100%;
  border-top: 1px solid #737373;
}

.osc__back__cart{
  font-size: 13px;
  color: black;
}

.osc__font__bold {
  font-weight: 600;
  font-size: 13px;
}

.one-step-checkout {
  margin: 15px 0 25px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

.osc p {
  font-size: 14px;
  margin: 0; }

.osc__h1 {
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0;
  padding: 0; }

.osc__logout a {
  font-size: 14px;
  color: green; }

.osc__block .add-new-address label,
.osc__block .credi-card-form label {
  font-size: 13px; }

.osc__block.osc__bg--grey {
  background: #f0f0f0 url(../img/line-bottom-table.png) left bottom repeat-x !important; }

.osc__head {
  padding: 10px 15px 10px 15px;
  border-bottom: 1px solid orange;
  box-shadow: 0 3px 0 #ffd280;}
.osc__h4 {
  color: gray;
  font-weight: 700;
  text-align: center;
}
.osc__loginBtn {
  border-radius: 10px !important;
  font-size: 12px !important;
  width: 170px !important;
  max-width: 170px !important;
}
.osc__hr-login {
  border-top: 1px solid darkgray;
  box-shadow: 0 0 1px darkgray;
}
.osc__word-or {
  line-height: 32px;
  color: gray;
  font-size: 12px;
}
.osc__form-label {
  font-size: 14px;
  font-weight: bold;
}
.osc__h2 {
  font-weight: 500;
  font-size: 15px;
  color: #363636;
  text-transform: uppercase;
  display: inline-block;
  line-height: 35px;
  margin: 0; }
.osc__h6 {
  font-weight: bold;
}

.osc__step {
  font-size: 18px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: inline-block;
  background: green;
  text-align: center;
  color: #fff;
  margin-right: 5px; }

.osc__body.pb-0 {
  padding-bottom: 0 !important; }

.osc__count {
  display: inline-block;
  width: 40px;
  text-align: center; }

.place-order-btn {
  display: block;
  border: 0;
  width: 100%;
  transition: all .23s ease-in-out;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 48px;
  font-size: 18px;
  font-weight: 500; }

.items-table {
  width: 100%;
  font-size: 14px; }
  .items-table td {
    padding: 10px 2.5px 10px;
    border-bottom: 1px solid #cecece; }

.total-table {
  width: 100%;
  font-size: 14px; }
  .total-table td, .total-table th {
    padding: 10px 2.5px 10px;
    border-bottom: 1px solid #cecece; }
  .total-table tr .b0 {
    border-bottom: 0; }

.osc__item-remove {
  margin-top: -5px;
  float: right;
  cursor: pointer;
  text-align: center; }

.osc__summary-block-discount {
    color: #f4a100;
}

.os__summary-block-remove-coupon {
    margin-left: 10px;
    color: #9c9c9c;
    cursor: pointer;
}

.osc__product-price {
    font-size: 1.3em;
    font-weight: bold;
}

.osc__update-quantity {
    display: inline-block;
}

.osc__item-img {
  width: 75px;
  display: table-cell;
  vertical-align: top;
  padding-left: 5px; }
  .osc__item-img img {
    max-width: 100%; }

.osc__item-name {
  display: table-cell;
  vertical-align: top;
  line-height: 15px;
  padding-left: 5px;
  height: 80px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 13px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 13px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 13px;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 13px;
}

#order-summary-view{
  padding: 0 5px;
}

.btn--orange{
  background-color: #f4a100;
  color: white;
  border: 1px solid #f4a100;
  width: 70px;
}

label.error, span.error {
    font-size: 12px;
}

.osc__input-clear-icon {
  position: absolute;
  right: 5px;
  top: 5px;
  height: 20px;
  margin: auto;
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
  display: none;
}
.osc__modal .modal-dialog{
  margin-top: 15%;
  min-width: 600px;
}
.osc__modal .modal-content{
  border-radius: 0;
  border: 1px solid gray;
}
.osc__modal-btn{
  background-color: orange;
  color: white;
  width: 100%;
}
.osc__modal_sentence{
  text-align: center;
  font-size: 13px;
}
#error-box{
  font-size: 14px;
  padding: 5px;
  border-radius: 0;
  border: 0;
  line-height: 1.5rem;
}
.osc__customer-info-checkbox {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  padding-left: 30px;
  font-size: 15px;
}

.osc__customer-info-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -2px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border: 1px solid lightgray;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.osc__customer-info-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.osc__customer-info-checkbox .checkmark:after {
  left: 9px;
  top: 3px;
  width: 7px;
  height: 14px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.osc__btn-orange{
  background-color: orange;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0;
}
.osc__btn-orange:hover {
  box-shadow: 0 5px 11px 0 rgba(0,0,0,.18), 0 4px 15px 0 rgba(0,0,0,.15);
  outline: 0;
}
.osc__address-block{
  border: 1px solid #f8f9fa;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
}
.osc__input-radio{
  vertical-align: top;
  margin-top: 2px;
}
.osc__address-info{
  padding-left: 5px;
}
.osc__address-valid-fail, .osc__payment-valid-fail {
    color: red;
}

.tc__btn-green {
    background-color: #28A745 !important;
}
/*# sourceMappingURL=checkout.css.map */
