/* Buttons */
.button{
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204,204,204,0.3);
  background: #f4a100;
  background: -moz-linear-gradient(top, #f4a100 0%, #f38200 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4a100), color-stop(100%,#f38200));
  background: -webkit-linear-gradient(top, #f4a100 0%,#f38200 100%);
  background: -o-linear-gradient(top, #f4a100 0%,#f38200 100%);
  background: -ms-linear-gradient(top, #f4a100 0%,#f38200 100%);
  background: linear-gradient(to bottom, #f4a100 0%,#f38200 100%);

  display: inline-block;
  padding: 8px 13px 9px;
  border: 0;
  border-radius: 2px!important;
  color: #fff;
  font: bold 14px/18px "Open Sans", Arial, Helvetica, sans-serif;
  letter-spacing: 0.7px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;



  &:hover{
    color: #fff;
    background: #f7b869;
    background: -moz-linear-gradient(top, #f7b869 0%, #f6ae55 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7b869), color-stop(100%,#f6ae55));
    background: -webkit-linear-gradient(top, #f7b869 0%,#f6ae55 100%);
    background: -o-linear-gradient(top, #f7b869 0%,#f6ae55 100%);
    background: -ms-linear-gradient(top, #f7b869 0%,#f6ae55 100%);
    background: linear-gradient(to bottom, #f7b869 0%,#f6ae55 100%);
    cursor: pointer;
  }
  &:focus{
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }
}
.btn-submit{
  min-width: 100px;
  display: inline-block;
}
.btn-shadow{
  -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
}

.btn--grey-lg{
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #eaeaea 0%, #dddddd 100%) repeat scroll 0 0;
  color: #333;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-size: 13px;
  padding:12.5px 10px;
  border-radius: 0;
  border:0;
  max-width: 255px;
}
.btn--orange{

}
.btn--grey{
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204,204,204,0.3);
  background-image: none;
  background: #eee;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-weight: 600;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 3px;
}

.btn--black{
  border: 0 none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: inline-block;
  font: bold 14px/18px "Open Sans",Arial,Helvetica,sans-serif;
  letter-spacing: 0.7px;
  padding: 8px 13px 9px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #515151 0%, #333 100%) repeat scroll 0 0;
  color: #fff;
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204,204,204,0.3);
  min-width: 127px;
}
.btn--green{
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  margin: 0;
  line-height: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
  background: green!important;
  color: #fff;
  min-width: 50px;
  padding: 5px 15px;
  height: 35px;
  border-radius: 3px;
  font-size: 15px;
  box-shadow:none;
  &:hover,
  &:focus{
    text-decoration: none;
    color: #ffffff;
    opacity: .8;
  }
}
.btn--cancel{
  background-image: none;
  background: #eee;
  border: 1px solid #ccc;
  color: #333;
  cursor: pointer;
  font-weight: 600;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.6rem;
  box-sizing: border-box;
  vertical-align: middle;
  border-radius: 3px;
  &:hover,
  &:focus{
    text-decoration: none;
    color: #333;
    opacity: .8;
  }
}
