/* Common Modules Styles */

/* Pagetitle */
.pagetitle{
  padding: 10px 0 30px;
  background: url(../img/bg-category-title.png) repeat-x 0 100%;
  margin-bottom: 18px;
  @media(max-width: 768px){
    padding: 10px 0 10px;
  }
}
.pagetitle__h1{
  font: bold 28px/36px "Open Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  margin-left: 10px;
  line-height: 1.3;

  @media(max-width: 768px){
    margin-left: 0px;
    font-size: 20px;
  }
}
.pagetitle__lf{
  color: #1979c3;
  text-decoration: none;
  font-size: 13px;
  margin-left: 10px;
  display: inline-block;
}
.pagetitle__title--wrapper{
  .pagetitle__h1{
    margin-top: 0;
  }
}
.pagetitle__holder{
  display: flex;
  margin-bottom: -10px;
  margin-top: -10px;
  @media(max-width: 768px){
    margin-bottom: 5px;
    margin-top: 5px;
  }
}
.pagetitle__brand{
  background-color: #fff;
  border: 1px solid #d7d7d7;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin: 0 12px 0 0;
  max-width: 100px;
  vertical-align: middle;
  @media(max-width: 768px){
    max-width: 75px;
    margin-right: 10px;
  }
}
.pagetitle__img{
  max-width:100%;
}
.pagetitle__h1{
  margin-top: 8px;
}

/* Breadcrumb */
.pagetitle__breadcrumb{
  background-color: transparent;
  font-size: 12px;
  line-height: 18px;
  color: #aaa;
  padding: 5px 10px;
  margin-bottom: 0px;
  @media(max-width: 768px){
    padding: 0px;
    margin-bottom: 5px;
  }
}
.pagetitle__breadcrumb .breadcrumb-item{

}
.pagetitle__breadcrumb .breadcrumb-item.active{

}
.pagetitle__breadcrumb .breadcrumb-item+.breadcrumb-item::before{
  content: "";
  width: 4px;
  height: 6px;
  background: url(../img/sprite-global.png) no-repeat -147px -69px;
  margin-right: .5em;
}
.breadcrumb-item a,
.breadcrumb-item.active{
  color: #aaa;
}
.breadcrumb-item a:hover{
  color: #f6ae55;
}
.breadcrumb-item.home a{
  font-size: 0;
  text-indent: -9999px;
  display: inline-block;
  width: 13px;
  height: 11px;
  margin: 4px 0 0;
  background: url(../img/sprite-global.png) no-repeat -134px -69px;
  vertical-align: top;
  &:hover{
    background-position: -134px -80px;
  }
}


/* pagecontent */
.pagecontent{
  margin-bottom: 50px;
}
.pagecontent__row{
  display: flex;
  width: 100%;
}
.pagecontent__side{
  width:30%;
  padding-right:10px;
}
.pagecontent__main{
  width:70%;
  padding-left:10px;
}
@media(max-width:768px){
  .pagecontent{
    .container.m-pad0{
      padding:0;
    }
  }
  .pagecontent__row{
    display: block;
  }
  .pagecontent__side{
    width:100%;
    padding-right:0;
  }
  .pagecontent__main{
    width:100%;
    padding-left:0;
  }
}


/* Mobaccordion:
   Simple list on desktop and accordion on mobile
   Also have jQuery scripts in common.js
*/
.mobaccordion{

}
.mobaccordion__head{
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  background: #20a9b2;
  padding: 11px 45px 11px 19px;
  color: #fff;
  letter-spacing: 0.3px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    right: 19px;
    top: 50%;
    margin: -6px 0 0;
    width: 12px;
    height: 12px;
    background: url(../img/sprite-product.png) no-repeat -27px -29px;
    display: none;
  }
  @media(max-width: 768px){
    &:after{
      display: block;
    }
  }
}
.mobaccordion__body{
  border: 1px solid #dbdbdb;
  border-top: 0;
}
.mobaccordion--opened{
  .mobaccordion__head{
    &:after{
      background: #fff;
      width: 12px;
      height: 2px;
      margin: -1px 0 0;
    }
  }
}
@media(max-width: 768px){
  .mobaccordion__body{
    display: none;
  }
  .mobaccordion--opened{
    .mobaccordion__body{
      display: block;
    }
  }
}
.mobaccordion__items{

}
.mobaccordion__item{
  border-bottom: 1px solid #dbdbdb;
  &:last-child{
    border-bottom: 0;
  }
}
.mobaccordion__item a{
  padding: 25px 20px;
  display: block;
  color: #333;
  font-size: 14px;
  font-weight: 700;

  &:hover{
    text-decoration: none;
    background: #f9d093;
  }

  @media (max-width: 768px){
    padding: 15px 20px;
  }
}


/* Limiter */
.limiter{
  font-size: 14px;
  @media (max-width:768px){
  }
}
.limiter__label{

}
.limiter__control{
  display: inline-block;
  margin: 0 5px 0 7px;
}
.limiter__options{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #fff url(../img/select-bg.svg) no-repeat 100% 45%;
  background-size: 30px 60px;
  border: 1px solid #ccc;
  height: 32px;
  width: auto;
  padding-right: 25px;
  text-indent: .01em;
  text-overflow: '';
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204,204,204,0.3);
  border-radius: 3px;
  padding: 5px 25px 4px 10px;
  font-size: 14px;
}

/* pagination */
.pagination{
  a{
    background-color: #f0f0f0;
    box-shadow: inset 0 1px 0 0 #fff, inset 0 -1px 0 0 rgba(204, 204, 204, 0.3);
    color: #000;
    padding: 8px 12px;
    font-size: 14px;
    height: 35px;
    &:hover{
      color: #f4a100;
    }
  }
  .page-item.active .page-link{
    background-color: #f4a100;
    border-color: #f4a100;
  }
  .lsaquo, .rsaquo{
    font-size: 34px;
    line-height: 0.3;
    color: #7d7d7d;
  }
}

/* Select */
.select {
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: #fff url(../img/select-bg.svg) no-repeat 100% 45%;
  background-size: 30px 60px;
  border: 1px solid #ccc;
  height: 35px;
  padding-right: 25px;
  text-indent: .01em;
  text-overflow: '';
  font: 14px/18px "Open Sans",Arial,Helvetica,sans-serif;
  border-radius: 2px;
  display: inline-block;
}







/* Dropdown */
.form-control{
  border-radius: 0;
  height: auto;
}
.dropdown-menu{
  border-radius: 0;
}
button.dropdown-toggle{
  padding: 0.275rem .75rem;
}
.dropdown-toggle::after{
  border:0;
  content: "";
  position: absolute;
  right: 11px;
  top: 13px;
  width: 12px;
  height: 7px;
  background: url(../img/sprite-global.png) no-repeat -92px -140px;
  transition:0.23s;
}
.dropdown.show{
  .dropdown-toggle::after{
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
  }
}
