/* Sprite icons */
.sicon{
  background-image: url(../img/sprite-global.png);
  background-repeat: no-repeat;
  display: inline-block;
  width: 100px;
  height: 100px;
  background-position: 0px 0px;
}
.sicon-fb{
  width: 28px;
  height: 25px;
  background-position: -130px 0px;
}
.sicon-gp{
  width: 28px;
  height: 25px;
  background-position: -190px 0px;
}
