/* Dropdown */
.dropdown-item.active, .dropdown-item:active{
  background-color: #999;
}



.brand-finder{
  background: #F4A205 url(../img/bg-brand-finder.png) repeat scroll 50% 0;
  color: #ffffff;
  margin: 0 0 24px;
  padding: 14px 21px 20px 20px;
}
.brand-finder__h2{
  color: #fff;
  font-weight: bold;
  margin-top: 0;
  font-size: 26px;
}
.brand-finder__h3{
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.3px;
  line-height: 20px;
  margin: 0 0 14px -1px;
}
.brand-finder__holder{
  background: #f6af3f none repeat scroll 0 0;
  padding: 13px 20px 10px;
}
.brand-finder__row{
  display: flex;
  width: 100%;
}
.brand-finder__middle{
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
  line-height: 24px;
  padding: 52px 10px 10px;
  text-align: center;
  width: 50px;
  color: #FFF;
}
.brand-finder__left{
  width:calc(50% - 25px);
}
.brand-finder__right{
  width:calc(50% - 25px);
}
@media( max-width: 768px ){
  .brand-finder__row{
    display: block;
  }
  .brand-finder__left,
  .brand-finder__middle,
  .brand-finder__right{
    width: 100%;
  }
  .brand-finder__middle{
    padding: 10px 10px 10px;
  }
  .brand-finder__h2{
    font-size: 22px;
  }
}

/* Brand Finder Helper */
.finde-result{
  margin-bottom: 30px;
}
.finde-result__h2{
  border-color: #dbdbdb;
  border-image: none;
  border-style: solid;
  border-width: 5px 0 1px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  margin: 0 0 20px;
  padding: 11px 0 13px;
}
.finde-result__list{
  > div{
    display: inline-block;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 18px;
    padding: 0 15px 17px;
    vertical-align: top;
    width: 25%;
  }
  a{
    color: #1979c3;
    text-decoration: none;
  }
  li{

  }
}
