/*
  file - common.scss (All common styles goes here)
  Styled by : Puneet Sharma [ webdevpuneet.com ]
*/

/* All Common Styles */
@-webkit-keyframes pageFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes pageFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes pageFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes pageFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes pageFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.os-animation{
  opacity: 0;
}
.os-animation.animated{
  opacity: 1;
}

button{
  cursor: pointer;
}



body {
/*  opacity:0;
  -webkit-animation: pageFadeIn ease-in 1;
          animation: pageFadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 0.23s;
          animation-duration: 0.23s;
  -webkit-animation-delay: .2s;
          animation-delay: .2s;
  */
}

/* Importing Fonts */
@import 'fonts';

/* Reset */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
body *{
  -webkit-overflow-scrolling: touch;
}
label{

}


a,
a:hover,
a:focus,
a:active{
  color: #1979c3;
}
h1, h2, h3, h4, h5, h6{

}

b, strong {
    font-weight: bold;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


@media (min-width: 1300px){
  .container {
      max-width: 1270px;
  }
}
@media only screen and (max-width: 1200px){
  .container {
      max-width: 100%;
  }
}

/* Importing Other SCSS files */
@import 'mixins';
@import 'variables';
@import 'sprite-icons';
@import 'forms';
@import 'buttons';
@import 'header';
@import 'modules';
@import 'footer';
@import 'typography';
@import 'login-register';
@import 'error';
